// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

.ftContainer {
	grid-template-columns: minmax(150px, 300px) minmax(150px, 300px) minmax(100px, 150px);
	gap: 2px 20px;
}

.listContainer {
	display: inline-block;
	vertical-align: top;
	height: 460px;
	overflow-x: hidden;
	overflow-y: auto;
}

.btnContainer {
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto 1fr;
	gap: 8px 15px;
}

.list {
	border: solid 1px #ccc;
	min-height: 60px;
	background: white;
	border-radius: 4px;
	overflow: hidden;
	display: block;
}

.box {
	padding: 16px 10px;
	border-bottom: solid 1px #ccc;
	color: rgba(0, 0, 0, 0.87);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	cursor: move;
	background: white;
	font-size: 14px;
}

.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
	border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.custom-placeholder {
	background: #ccc;
	border: dotted 3px #999;
	min-height: 60px;
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.topBox {
	border-top: solid 3px #ccc !important;
}

.bottomBox {
}