<!-- SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<div *transloco="let t; read: 'admin'" class="margin-view">
	<h1 class="entity-headline">{{ t('typeLangConfigs') }}</h1>

	<mat-card appearance="outlined" *ngIf="errors.length > 0" style="overflow: auto;">
		<mat-card-content>
			<button style="float: right;" mat-icon-button attr.aria-label="{{ t('close') }}" (click)="resetErrors()"><mat-icon>close</mat-icon></button>
			<mat-error *ngFor="let error of errors" class="error">{{error}}</mat-error>
		</mat-card-content>
	</mat-card>
	<br *ngIf="errors.length > 0">

	<mat-card appearance="outlined">
		<mat-card-content>
			<form [formGroup]="entityForm" #formDirective="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
				<div class="grid-container" style="grid-template-columns: repeat(4, 1fr);">

					<mat-form-field>
						<mat-label>{{ t('lexemeType') }}</mat-label>
						<mat-select formControlName="lexemeTypeID">
							<mat-option *ngFor="let lexemeType of data.store.lexemeTypes.values" [value]="lexemeType.id">
								{{ lexemeType.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<mat-label>{{ t('language') }}</mat-label>
						<mat-select formControlName="langID">
							<mat-option *ngFor="let lang of data.store.languages.values" [value]="lang.id">
								{{ lang.locale }}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<button mat-stroked-button type="button" class="grid-centered" (click)="openFtPositionsDialog()" [disabled]="!canEditFtPositions()">{{ t('editFtPositions') }}</button>
				</div>
				<div class="grid-container btn-container">
					<div></div>
					<button mat-raised-button type="button" color="secondary" (click)="onClear()">{{ t('clear') }}</button>
					<button mat-raised-button type="submit" color="primary" [disabled]="entityForm.invalid">{{ !isUpdate ? t('create') : t('update') }}</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
	<br>

	<mat-card appearance="outlined">
		<mat-card-content>
			<section>
				<div class="grid-container" style="grid-template-columns: repeat(3, 1fr);">
					<mat-form-field>
						<mat-label>{{ t('filter') }}</mat-label>
						<input matInput (keyup)="applyFilter($event)" [(ngModel)]="filterValue"
							placeholder="{{ t('filterExample') }}">
						<button mat-button *ngIf="filterValue" matSuffix mat-icon-button attr.aria-label="{{ t('clear') }}"
							(click)="filterValue=''; applyFilter(null);" attr.aria-label="{{ t('emptyField') }}">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
				</div>
			</section>
			<section>
				<div class="table-container">
					<table mat-table [dataSource]="dataSource" class="data-table">

						<ng-container matColumnDef="name">
							<th mat-header-cell *matHeaderCellDef>{{ t('name') }}</th>
							<td mat-cell *matCellDef="let row">{{ row.name === null ? '–' : row.name }}</td>
						</ng-container>

						<ng-container matColumnDef="lexemeTypeID">
							<th mat-header-cell *matHeaderCellDef>{{ t('lexemeType') }}</th>
							<td mat-cell *matCellDef="let row">
								{{ row.lexemeTypeID === null ? '–' : getLexemeTypeName(row.lexemeTypeID) }}</td>
						</ng-container>

						<ng-container matColumnDef="langID">
							<th mat-header-cell *matHeaderCellDef>{{ t('language') }}</th>
							<td mat-cell *matCellDef="let row">
								{{ row.langID === null ? '–' : getLanguageName(row.langID) }}</td>
						</ng-container>

						<ng-container matColumnDef="actions">
							<th mat-header-cell *matHeaderCellDef>{{ t('action') }}</th>
							<td mat-cell *matCellDef="let row">
								<button mat-icon-button color="primary" attr.aria-label="{{ t('editEntry') }}"
									(click)="onEditRow(row)">
									<mat-icon>edit</mat-icon>
								</button>
								<button mat-icon-button color="primary" attr.aria-label="{{ t('deleteEntry') }}"
									(click)="onDeleteRow(row)">
									<mat-icon>delete</mat-icon>
								</button>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
				</div>
			</section>
		</mat-card-content>
	</mat-card>
</div>