// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

.scrollable {
	min-width: 150px;
	min-height: 400px;
	/*max-height: calc(100vh - 2*64px);*/
	overflow: scroll;
}

[hidden] {
	display: none !important;
}
