// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

mat-form-field {
	font-size: 1rem;
}

h2 {
	margin-bottom: 1rem;
	padding-top: 1rem;
	text-align: center;
}

.register-text {
	margin-top: 1rem;
	margin-bottom: 0rem;
	text-align: center;
}

.full-width {
	width: 100%;
}

.margin-bottom {
	margin-bottom: 0.5rem;
}

.error {
	padding-bottom: 1.25rem;
}