<!-- SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<div *transloco="let t; read: 'admin'" class="margin-view">
	<h1 class="entity-headline">{{ t('uiTranslations') }}</h1>

	<mat-card *ngIf="errors.length > 0" style="overflow: auto;">
		<button style="float: right;" mat-icon-button attr.aria-label="{{ t('close') }}" (click)="resetErrors()"><mat-icon>close</mat-icon></button>
		<mat-error *ngFor="let error of errors" class="error">{{error}}</mat-error>
	</mat-card>
	<br *ngIf="errors.length > 0">
	<mat-card>
		<section>
			<form [formGroup]="entityForm" #formDirective="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
				<div class="grid-container" style="grid-template-columns: repeat(4, 1fr);">
					<mat-form-field>
						<mat-label>{{ t('scope') }}</mat-label>
						<mat-select formControlName="scopeID" [disableControl]="isUpdate">
							<mat-option *ngFor="let scope of uiScopes" [value]="scope.id">
								{{ scope.id == '' ? '(default)' : scope.id }}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<input matInput formControlName="uitID" [disableControl]="isUpdate" placeholder="{{ t('uitID') }}" maxlength="64">
						<mat-hint align="end">{{entityForm.get('uitID').value?.length}} / 64</mat-hint>
					</mat-form-field>
				</div>
				<div formGroupName="translations" class="grid-container" style="grid-template-columns: 1fr;">
					<mat-form-field *ngFor="let uiLang of uiLanguages">
						<textarea matInput formControlName="{{uiLang.locale}}" placeholder="{{ uiLang.name }}" maxlength="8192"></textarea>
						<mat-hint align="end">{{entityForm.get('translations')?.get(uiLang.locale).value?.length}} / 8192</mat-hint>
					</mat-form-field>
				</div>
				<div class="grid-container btn-container">
					<div></div>
					<button mat-raised-button type="button" color="secondary" (click)="onClear()">{{ t('clear') }}</button>
					<button mat-raised-button type="submit" color="primary" [disabled]="entityForm.invalid">{{ !isUpdate ? t('create') : t('update') }}</button>
				</div>
			</form>
		</section>
	</mat-card>
	<br>
	<mat-card>
		<section>
			<div class="grid-container" style="grid-template-columns: repeat(3, 1fr);">
				<mat-form-field>
					<mat-label>{{ t('showLanguages') }}</mat-label>
					<mat-select [(ngModel)]="selectedLanguages" multiple (selectionChange)="onUiLanguagesChanged($event)">
						<mat-option *ngFor="let uiLang of uiLanguages" [value]="uiLang.locale">
							{{ uiLang.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field>
					<mat-label>{{ t('filter') }}</mat-label>
					<input matInput (keyup)="applyFilter($event)" [(ngModel)]="filterValue" placeholder="{{ t('filterExample') }}">
					<button mat-button *ngIf="filterValue" matSuffix mat-icon-button attr.aria-label="{{ t('clear') }}"
							(click)="filterValue=''; applyFilter(null);" attr.aria-label="{{ t('emptyField') }}">
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>

				<button mat-icon-button attr.aria-label="{{ t('openAdditionalMenu') }}" [matMenuTriggerFor]="translationMenu" style="justify-self: end;">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #translationMenu="matMenu">
					<button mat-menu-item (click)="onDeliverTranslationsClicked()">
						<span>{{ t('deliverUITs') }}</span>
					</button>
				</mat-menu>
			</div>
		</section>
		<section>
			<div class="table-container">
			
				<table mat-table [dataSource]="dataSource" class="data-table">
				<ng-container matColumnDef="scopeID">
					<th mat-header-cell *matHeaderCellDef>{{ t('scope') }}</th>
					<td mat-cell *matCellDef="let row">{{row.scopeID}}</td>
				</ng-container>
			
				<ng-container matColumnDef="uitID">
					<th mat-header-cell *matHeaderCellDef>{{ t('uitID') }}</th>
					<td mat-cell *matCellDef="let row">{{row.uitID}}</td>
				</ng-container>
			
				<ng-container matColumnDef="essential">
					<th mat-header-cell *matHeaderCellDef>{{ t('essential') }}</th>
					<td mat-cell *matCellDef="let row">
						<mat-checkbox [(ngModel)]="row.essential" disabled="true"></mat-checkbox>
					</td>
				</ng-container>

				<ng-container *ngFor="let uiLang of selectedLanguages" matColumnDef="{{uiLang}}">
					<th mat-header-cell *matHeaderCellDef>{{ uiLang }}</th>
					<td mat-cell *matCellDef="let row">{{shortenText(row.translations[uiLang], (70 / selectedLanguages.length))}}</td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef>{{ t('action') }}</th>
					<td mat-cell *matCellDef="let row">
						<button mat-icon-button color="primary" attr.aria-label="{{ t('editEntry') }}" (click)="onEditRow(row)">
							<mat-icon>edit</mat-icon>
						</button>
						<button mat-icon-button color="primary" attr.aria-label="{{ t('deleteEntry') }}" (click)="onDeleteRow(row)"
								*ngIf="!row.essential">
							<mat-icon>delete</mat-icon>
						</button>
					</td>
				</ng-container>
				
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
				</div>
		</section>
	</mat-card>
</div>