// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

.variant-choice {
	grid-template-columns: 280px auto auto 1fr;
	gap: 12px 18px;
	margin: 24px 18px 18px 24px;
}

.noWordForms {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	margin-top: 2rem;
	margin-bottom: 3rem;
}