// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.inputArea {
	grid-template-columns: auto;
	gap: 2px 15px !important;
	//margin: 24px 18px 18px 24px;

	padding: 8px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.upperArea {
	grid-template-columns: auto auto 1fr;
	gap: 2px 15px;
	font-size: 0.8em !important;
	//margin: 24px 18px 18px 24px;
}

.searchArea {
	border-radius: 8px;
	//padding: 8px;
}

.searchField {
	width: 100%;
	font-size: 1.2em;
}

#search-special-letters {
	text-align: left;
	margin-left: 0.5rem;
	font-size: 1.08rem;
}

/** */
/*
.mat-form-field {
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    .mat-form-field-underline {
        bottom: 0;
    }
}
*/
.mat-form-field.no-padding > .mat-form-field-wrapper {
	margin-bottom: -1.25em;
}
//

/** Grid classes */
$sidenav-content-margin: 1rem;
$editor-subheading-margin: 18px;

.grid-container {
	display: grid;
	/*grid-template-columns: auto auto auto;
	background-color: #2196F3;
	padding: 10px;*/
	gap: 7px 15px;
}

.grid-centered {
	justify-self: center;
	align-self: center;
}

.content-bottomed {
	align-self: end;
}

.lexeme-tab {
	grid-template-columns: minmax(170px, 240px) minmax(170px, 240px) minmax(170px, 240px) minmax(0px, 240px) 1fr;
	margin: $editor-subheading-margin;
}

.btn-container {
	grid-template-columns: auto 120px 120px;
	margin-top: 12px;
}

.center-vertical {
	align-self: center;
}

.full-width {
	width: 100%
}

.col1 { grid-column-start: 1; }
.col2 { grid-column-start: 2; }
.col3 { grid-column-start: 3; }
.col4 { grid-column-start: 4; }

.colspan2 { grid-column-end: span 2; }
.colspan3 { grid-column-end: span 3; }
.colspan4 { grid-column-end: span 4; }

.row1 { grid-row-start: 1; }
.row2 { grid-row-start: 2; }
.row3 { grid-row-start: 3; }
.row4 { grid-row-start: 4; }
.row5 { grid-row-start: 5; }
.row6 { grid-row-start: 6; }
.row7 { grid-row-start: 7; }
.row8 { grid-row-start: 8; }
.row9 { grid-row-start: 9; }
.row10 { grid-row-start: 10; }

.rowspan2 { grid-row-end: span 2; }
.rowspan3 { grid-row-end: span 3; }
.rowspan4 { grid-row-end: span 4; }
.rowspan8 { grid-row-end: span 8; }
// Grid end
