<!-- SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<main *transloco="let t" (window:resize)="onResize($event)">
	<div class="top-section" [class.top-section-row]="performedSearch && hasDesktopWidth" [class.top-section-column]="!performedSearch || !hasDesktopWidth">

		<div class="logo-section">
			<div [className]="performedSearch && hasDesktopWidth ? 'logo-small' : 'logo-big'"></div>
			<h4 class="hide-mobile" *ngIf="!performedSearch">
				{{ t('search.subtitle') }}
			</h4>
		</div>

		<div #searchAreal class="grid-container input-area">
			<div class="grid-container upper-area">
				<app-lang-pair-select></app-lang-pair-select>
				<app-direction-select></app-direction-select>

				<div></div>

				<div>
					<button
						mat-button
						matTooltip="{{ t('search.specialChars') }}"
						matTooltipPosition="above"
						matTooltipShowDelay="50"
						[matMenuTriggerFor]="specialChars"
					>Abc</button>
					<mat-menu #specialChars="matMenu" xPosition="before">
						<button mat-menu-item (click)="addTextAtCaret('searchText','å'); false">å</button>
						<button mat-menu-item (click)="addTextAtCaret('searchText','ä'); false">ä</button>
						<button mat-menu-item (click)="addTextAtCaret('searchText','ö'); false">ö</button>
						<button mat-menu-item (click)="addTextAtCaret('searchText','ü'); false">ü</button>
						<button mat-menu-item (click)="addTextAtCaret('searchText','ß'); false">ß</button>
					</mat-menu>
				</div>
			</div>
	
			<div class="searchArea">
				<mat-form-field
					#searchFormField
					search-field
					class="searchField"
					appearance="outline"
					color="primary"
				>
					<mat-label>{{ t('search.question') }}</mat-label>
					<input
						#searchInput
						id="searchText"
						name="search"
						matInput
						type="search"
						autocomplete="off"
						[formControl]="searchControl"
						(keyup.enter)="executeSearch(searchInput)"
						(focus)="onFocus(searchAreal)"
						[matAutocomplete]="auto"
						matAutocompletePosition="below"
					/>

					<button
						*ngIf="!!search.term"
						mat-icon-button
						matSuffix
						aria-label="Clear"
						(click)="clearSearch()"
					>
						<mat-icon>close</mat-icon>
					</button>

					<button
						mat-icon-button
						matSuffix
						aria-label="Search"
						(click)="executeSearch(searchInput)"
					>
						<mat-icon>search</mat-icon>
					</button>

					<mat-autocomplete #auto="matAutocomplete" (optionSelected)="executeSearch(searchInput)">
						<mat-option
							stretch-item
							*ngFor="let option of search.autocompletion | async"
							[value]="option.searchWord"
						>
							<div class="grid-container autocomplete-option">
								<span
									class="autocomplete-content content-bottomed"
									[innerHTML]="lemma.formatLemmaStr(option?.lemma, { locale: option?.locale, showOrthography: option?.locale === 'nds' })"
								></span>
								<span></span>
								<span class="autocomplete-locale content-bottomed">{{ option?.locale }}</span>
							</div>
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>

		</div>

	</div>
	<div class="full-width-container">	
		<dict-result-table></dict-result-table>
	</div>
</main>
