// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

@import "../../../theme/dict-variables.scss";

.top-section {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	//width: 85%; // villicht later noch an ander stea to bruken
	margin-left: auto;
	margin-right: auto;
	
	display: grid;
}

.top-section-column {
	grid-template-rows: auto auto;
}

.top-section-row {
	grid-template-rows: auto auto;
}

.logo-section {
	color: #999; // TODO Gaev dat dår al konstanten to?
}

.logo-big {
	margin: 20px auto 5px;
	width: 300px;
	height: 160px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: image-set(
		url("/assets/img/logo/w300.png") 1x,
		url("/assets/img/logo/w300@2x.png") 2x
	);
}

h4 {
	white-space: pre-line;
}

.full-width-container {
    text-align: center;
	padding: .8em 0.3em;
}

.input-area {
	grid-template-columns: auto;
	gap: 2px 15px !important;
	margin: 0 auto 0;

	padding: 8px;
	width: 95%;
	max-width: 500px;
}

.upper-area {
	grid-template-columns: auto auto 1fr auto;
	gap: 2px 15px;
	font-size: 0.8em !important;
	//margin: 24px 18px 18px 24px;
}

.searchArea {
	border-radius: 8px;
	padding-top: 2px;
}

.searchField {
	width: 100%;
	font-size: 1.2em;
}

.autocomplete-option {
	grid-template-columns: auto 1fr auto;
}

.autocomplete-content {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.autocomplete-locale {
	font-size: 0.85em;
	color: #777; // TODO Gaev dat dår al konstanten to?
}

/** Removing the padding-bottom from the search field */
// TODO deprecated: ::ng-deep, see also: https://betterprogramming.pub/best-way-to-overwrite-angular-materials-styles-e38dc8b84962
:host {
	::ng-deep {
		.searchField {
			//.mat-form-field {
				.mat-form-field-wrapper {
					padding-bottom: 0.2rem !important;
				}
			}
		//}
	}
}
//

.hide-mobile {
	display: none;
}

.hide-general {
	display: none;
}

@media only screen and (min-width: $min-width-smartphone-wide) {
	/* Villicht later noch an ander stea to bruken
	section {
		width: 70%;
	}
	*/

	.logo-big {
		margin: 20px auto 5px;
		width: 375px;
		height: 200px;
		background-image: image-set(
			url("/assets/img/logo/w375.png") 1x,
			url("/assets/img/logo/w375@2x.png") 2x
		);
	}

	.full-width-container {
		padding: .8em 1.2em;
	}
}

@media only screen and (min-width: $min-width-tablet-wide) {
	.logo-big {
		margin: 20px auto 5px;
		width: 450px;
		height: 240px;
		background-image: image-set(
			url("/assets/img/logo/w450.png") 1x,
			url("/assets/img/logo/w450@2x.png") 2x
		);
	}

	.input-area {
		margin: 11px auto 0;
	}
}

@media only screen and (min-width: $min-width-desktop) {
	.top-section-row {
		width: 70%;
		max-width: 650px;
		grid-template-columns: 220px 1fr;
	}

	.logo-small {
		margin: 35px auto 5px;
		width: 200px;
		height: 107px;
		background-image: image-set(
			url("/assets/img/logo/h107.png") 1x,
			url("/assets/img/logo/h107@2x.png") 2x
		);
	}

	.input-area {
		margin: 11px auto 0.5rem;
	}

	@media only screen and (min-height: 820px) {
		.hide-mobile {
			display: inline-block;
		}

		.input-area {
			max-width: 580px;
			width: 100%;
			margin: 11px auto 1.5rem;
		}
	}

	/*
	@keyframes move {
		from {
			transform: translateY(0px);
		}
		to {
			transform: translateY(20px);
		}
	}
	*/
}

@media only screen and (min-width: $min-width-desktop-large) and (min-height: 940px) {
	.top-section-row {
		max-width: 830px;
		grid-template-columns: 220px 1fr;
	}

	.input-area {
		max-width: 720px;
	}
}


// For the logo the viewport height is important, too!!

@media only screen and (min-width: $min-width-desktop) and (min-height: 1100px) {
	.logo-big {
		margin: 20px auto 5px;
		width: 540px;
		height: 288px;
		background-image: image-set(
			url("/assets/img/logo/w540.png") 1x,
			url("/assets/img/logo/w540@2x.png") 2x
		);
	}
}

@media only screen and (min-width: $min-width-desktop-large) and (min-height: 1250px) {
	.logo-big {
		margin: 20px auto 5px;
		width: 650px;
		height: 347px;
		background-image: image-set(
			url("/assets/img/logo/w650.png") 1x,
			url("/assets/img/logo/w650@2x.png") 2x
		);
	}
}
