<!-- SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->

<!-- Logo -->

<div class="container">
	<app-lang-pair-select></app-lang-pair-select>

	<br />

	<mat-form-field class="searchField" style="margin-top: 0.7rem;" appearance="outline">
		<mat-label>Wat wult du nå söken?</mat-label>
		<input id="searchText" name="search" matInput type="search" autocomplete="off" autofocus
			[(ngModel)]="searchValue" (keyup.enter)="executeSearch()" />
		<button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="TODO Clear" (click)="clearSearch()">
			<mat-icon>close</mat-icon>
		</button>
		<button mat-button matSuffix mat-icon-button aria-label="TODO Search" (click)="executeSearch()">
			<mat-icon>search</mat-icon>
		</button>
	</mat-form-field>
</div>
