<!-- SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<div *transloco="let t; read: 'admin'" class="margin-view">
	<h1 class="entity-headline">{{ t('unitLevels') }}</h1>

	<mat-card appearance="outlined" *ngIf="errors.length > 0" style="overflow: auto;">
		<mat-card-content>
			<button style="float: right;" mat-icon-button attr.aria-label="{{ t('close') }}" (click)="resetErrors()"><mat-icon>close</mat-icon></button>
			<mat-error *ngFor="let error of errors" class="error">{{error}}</mat-error>
		</mat-card-content>
	</mat-card>
	<br *ngIf="errors.length > 0">

	<mat-card appearance="outlined">
		<mat-card-content>
			<form [formGroup]="entityForm" #formDirective="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
				<div class="grid-container" style="grid-template-columns: repeat(4, 1fr);">

					<mat-form-field>
						<mat-label>{{ t('uitID') }}</mat-label>
						<input matInput formControlName="uitID" placeholder="ul:" maxlength="64">
						<mat-error *ngIf="entityForm.get('uitID')?.hasError('required')">{{ t('inputIsRequired') }}.</mat-error>
						<mat-error *ngIf="entityForm.get('uitID')?.hasError('pattern')">{{ t('inputIsNotValid') }}.</mat-error>
						<mat-hint align="start">{{ t('uitInScopeFull') }}</mat-hint>
						<mat-hint align="end">{{entityForm.get('uitID').value?.length}} / 64</mat-hint>
					</mat-form-field>

					<mat-form-field>
						<mat-label>{{ t('uitID_abbr') }}</mat-label>
						<input matInput formControlName="uitID_abbr" placeholder="ul:" maxlength="64">
						<mat-error *ngIf="entityForm.get('uitID_abbr')?.hasError('required')">{{ t('inputIsRequired') }}.</mat-error>
						<mat-error *ngIf="entityForm.get('uitID_abbr')?.hasError('pattern')">{{ t('inputIsNotValid') }}.</mat-error>
						<mat-hint align="start">{{ t('uitInScopeAbbr') }}</mat-hint>
						<mat-hint align="end">{{entityForm.get('uitID_abbr').value?.length}} / 64</mat-hint>
					</mat-form-field>

					<mat-form-field style="grid-column: 1 / span 2;">
						<textarea matInput formControlName="description" placeholder="{{ t('description') }}" maxlength="1024"></textarea>
						<mat-hint align="end">{{entityForm.get('description').value?.length}} / 1024</mat-hint>
					</mat-form-field>

				</div>
				<div class="grid-container btn-container">
					<div></div>
					<button mat-raised-button type="button" color="secondary" (click)="onClear()">{{ t('clear') }}</button>
					<button mat-raised-button type="submit" color="primary" [disabled]="entityForm.invalid">{{ !isUpdate ? t('create') : t('update') }}</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
	<br>

	<mat-card appearance="outlined">
		<mat-card-content>
			<section>
				<div class="grid-container" style="grid-template-columns: repeat(3, 1fr);">
					<mat-form-field>
						<mat-label>{{ t('filter') }}</mat-label>
						<input matInput (keyup)="applyFilter($event)" [(ngModel)]="filterValue"
							placeholder="{{ t('filterExample') }}">
						<button mat-button *ngIf="filterValue" matSuffix mat-icon-button attr.aria-label="{{ t('clear') }}"
							(click)="filterValue=''; applyFilter(null);" attr.aria-label="{{ t('emptyField') }}">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
				</div>
			</section>
			<section>
				<div class="table-container">
					<table mat-table [dataSource]="dataSource" class="data-table">

						<ng-container matColumnDef="uitID">
							<th mat-header-cell *matHeaderCellDef>{{ t('uitID') }}</th>
							<td mat-cell *matCellDef="let row">{{row.uitID}}</td>
						</ng-container>
		
						<ng-container matColumnDef="uitID_abbr">
							<th mat-header-cell *matHeaderCellDef>{{ t('uitID_abbr') }}</th>
							<td mat-cell *matCellDef="let row">{{row.uitID_abbr}}</td>
						</ng-container>

						<ng-container matColumnDef="description">
							<th mat-header-cell *matHeaderCellDef>{{ t('description') }}</th>
							<td mat-cell *matCellDef="let row">{{ getDescForTable(row.description) }}</td>
						</ng-container>

						<ng-container matColumnDef="actions">
							<th mat-header-cell *matHeaderCellDef>{{ t('action') }}</th>
							<td mat-cell *matCellDef="let row">
								<button mat-icon-button color="primary" attr.aria-label="{{ t('editEntry') }}"
									(click)="onEditRow(row)">
									<mat-icon>edit</mat-icon>
								</button>
								<button mat-icon-button color="primary" attr.aria-label="{{ t('deleteEntry') }}"
									(click)="onDeleteRow(row)">
									<mat-icon>delete</mat-icon>
								</button>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
				</div>
			</section>
		</mat-card-content>
	</mat-card>
</div>