<!-- SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<mat-card appearance="outlined" class="simple-card" *transloco="let t; read: 'son'">
	<header>
		<a [routerLink]="'dict' | route: transloco.getActiveLang()">
			<img src="/assets/img/logo/h40.png" srcset="/assets/img/logo/h40@2x.png 2x" title="Logo ULE.DK" alt="Logo ULE.DK" />
		</a>
		<span>{{ t('title') }}</span>
	</header>
	<section>
		<ng-content></ng-content>
	</section>
</mat-card>
<footer *transloco="let t; read: 'son'">
	<nav>
		<ul>
			<li><a [routerLink]="'dataPrivacy' | route: transloco.getActiveLang()">{{ t('dataPrivacy') }}</a></li>
			<li><a [routerLink]="'termsOfUse' | route: transloco.getActiveLang()">{{ t('termsOfUse') }}</a></li>
			<li><a [routerLink]="'imprint' | route: transloco.getActiveLang()">{{ t('imprint') }}</a></li>
		</ul>
	</nav>
</footer>