// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

@use '@angular/material' as mat;

@import './light.scss';
@import './typography.scss';
@import './colors.scss';

// Overwriting the behaviour of checkboxes of having all text in one single line.
// See: https://github.com/angular/components/issues/8416
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
.mat-checkbox-layout {
	white-space: normal !important;
}

// Compute font config
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($fontConfig);`
@include mat.all-component-typographies($fontConfig);
@include mat.core();

// Theme Config

:root {
	--primary-color: $owb-color-primary;
	--primary-lighter-color: #c2d7f2;
	--primary-darker-color: #1f5bc1;
	--text-primary-color: #{white};
	--text-primary-lighter-color: #{rgba(black, 0.87)};
	--text-primary-darker-color: #{white};
}

$mat-primary: (
	main: $owb-color-primary,
	lighter: #c2d7f2,
	darker: #1f5bc1,
	200: $owb-color-primary, // For slide toggle,
	contrast : (
		main: white,
		lighter: rgba(black, 0.87),
		darker: white,
	)
);
$theme-primary: mat.m2-define-palette($mat-primary, main, lighter, darker);

:root {
	--accent-color: #f9ac3c;
	--accent-lighter-color: #fde6c5;
	--accent-darker-color: #f69227;
	--text-accent-color: #{rgba(black, 0.87)};
	--text-accent-lighter-color: #{rgba(black, 0.87)};
	--text-accent-darker-color: #{rgba(black, 0.87)};
}

$mat-accent: (
	main: #f9ac3c,
	lighter: #fde6c5,
	darker: #f69227,
	200: #f9ac3c, // For slide toggle,
	contrast : (
		main: rgba(black, 0.87),
		lighter: rgba(black, 0.87),
		darker: rgba(black, 0.87),
	)
);
$theme-accent: mat.m2-define-palette($mat-accent, main, lighter, darker);

:root {
	--warn-color: #ff0000;
	--warn-lighter-color: #ffb3b3;
	--warn-darker-color: #ff0000;
	--text-warn-color: #{white};
	--text-warn-lighter-color: #{rgba(black, 0.87)};
	--text-warn-darker-color: #{white};
}

$mat-warn: (
	main: #ff0000,
	lighter: #ffb3b3,
	darker: #ff0000,
	200: #ff0000, // For slide toggle,
	contrast : (
		main: white,
		lighter: rgba(black, 0.87),
		darker: white,
	)
);
$theme-warn: mat.m2-define-palette($mat-warn, main, lighter, darker);;

// $theme: (
//   primary: $theme-primary,
//   accent: $theme-accent,
//   warn: $theme-warn,
//   is-dark: false,
//   foreground: $mat-light-theme-foreground, // TODO Wo wardt dat nu setted?
//   background: $mat-light-theme-background, // TODO Wo wardt dat nu setted?
// );

$theme: mat.m2-define-light-theme((
	color: (
		primary: $theme-primary,
		accent: $theme-accent,
		warn: $theme-warn,
	),
	typography: mat.m2-define-typography-config(),
	density: 0,
));

// Theme Init
@include mat.all-component-themes($theme);
@include mat.button-color($theme);
@include mat.fab-color($theme);
@include mat.icon-button-color($theme);


/***************************************************************************************************
 * 
 * Specific component overrides, pieces that are not in line with the general theming
 *
 **************************************************************************************************/

// Handle buttons appropriately, with respect to line-height
.mat-mdc-raised-button, .mat-mdc-outlined-button, .mat-mdc-unelevated-button {
	padding: 0 1.15em;
	margin: 0 .65em;
	min-width: 3em;
	line-height: 36.4px
}

.mat-mdc-standard-chip {
	padding: .5em .85em;
	min-height: 2.5em;
}

/*.material-icons {
	font-size: 24px;
	font-family: 'Material Icons', 'Material Icons';	
	.mat-badge-content {
		font-family: 'Roboto';
	}
}*/
