// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

$min-width-smartphone-wide: 650px;
$min-width-tablet-wide: 875px;
$min-width-desktop: 1024px;
$min-width-desktop-large: 1600px;
