// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

@use '@angular/material' as mat;
@import '../assets/fonts/material-icons';

$mainFonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$typographyConfig: mat.m2-define-typography-config(
	$font-family: $mainFonts,
);

@include mat.typography-hierarchy($typographyConfig);
