// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

.textual-content {
	width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}