<!-- SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<mat-form-field *transloco="let ta; read: 'admin'" style="width: 100%;">
	<mat-label>{{ ta('targetSememe') }}</mat-label>
	<mat-select [formControl]="linkCtrl" [compareWith]="sememeCompare" [panelClass]="getPanelClass()"
			(selectionChange)="selectionChanged($event)" (blur)="onTouch()">
		<mat-select-trigger>{{ formatPresentation(this.sememe) }}
		</mat-select-trigger>
		<mat-option>
			<ngx-mat-select-search [formControl]="linkFilteringCtrl" [searching]="searching"
				placeholderLabel="{{ ta('search') }}" noEntriesFoundLabel="{{ ta('noLexemesFound') }}">
			</ngx-mat-select-search>
		</mat-option>
		<mat-option [value]="null">({{ ta('none') }})</mat-option>
		<!-- (!) mat-selects will only display mat-select-trigger's value when an mat-option exists for
			the selected value -->
		<ng-container *ngIf="sememe != null">
			<mat-option [value]="sememe.id">
				{{ formatPresentation(this.sememe) }}
			</mat-option>
		</ng-container>
		<mat-optgroup label="{{ ta('lexemesFound') }}" *ngIf="showLexemeSection">
			<mat-optgroup *ngFor="let lexeme of filteredLexemes | async" [label]="buildCaption(lexeme)">
				<mat-option *ngFor="let sememe of lexeme.sememes; index as i" [value]="sememe?.id">
					{{ buildSememeName(sememe, i) }}
				</mat-option>
			</mat-optgroup>
		</mat-optgroup>
	</mat-select>
</mat-form-field>