<!-- SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<div *transloco="let t">
	<button
		mat-button
		matTooltip="{{ t('search.langPair') }}"
		matTooltipPosition="above"
		matTooltipShowDelay="50"
		[matMenuTriggerFor]="langPairMenu">{{ search.pair }}</button>
	<mat-menu #langPairMenu="matMenu">
		<ng-container *ngFor="let langPair of langPairs">
			<ng-container *ngIf="langPair !== '-'; else divider">
				<button mat-menu-item (click)="choose(langPair)">{{ langPair }}
					<ng-container *ngIf="langPair.endsWith('*')">
						({{ t('search.allLanguages') }})
					</ng-container>
				</button>
			</ng-container>

			<ng-template #divider>
				<mat-divider></mat-divider>
			</ng-template>
		</ng-container>
	</mat-menu>
</div>
<!--<mat-button-toggle *ngFor="let pair of baseConfig.dictionarySettings.tonguePairs" [value]="pair.id">
	{{pair.tongue2.locale}}</mat-button-toggle>-->
