// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

@import "../../../theme/dict-variables";

#content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex: 1;
}

@media only screen and (min-width: $min-width-desktop-large) {
	.container {
		width: 70%;
	}

	/*.blue-container ul li p,
	blockquote {
		font-size: 1.3em;
	}*/
}
