// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

#content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

section {
	color: #999;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

main {
	flex: 1;
}

@media only screen and (min-width: 650px) {
	/*
	.server {
		width: 50%;
	}
	*/

	h1 {
		font-size: 3em;
		margin: 0;
	}

	/*
	.subhead {
		font-size: 1.4em;
		margin-bottom: 12%;
	}
	*/
}

@media only screen and (min-width: 875px) {
	/*
	.subhead {
		margin-bottom: 15%;
	}
	*/
}

@media only screen and (min-width: 1024px) {
	/*
	.scroll {
		width: 30px;
		animation: move 1s infinite alternate;
	}
	*/

	@keyframes move {
		from {
			transform: translateY(0px);
		}
		to {
			transform: translateY(20px);
		}
	}
}

@media only screen and (min-width: 1600px) {
	.container {
		width: 70%;
	}

	.blue-container ul li p,
	blockquote {
		font-size: 1.3em;
	}
}
