<!-- SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<block-ui>
	<div id="content">
		<header>
			<!-- Top menu bar -->
			ULE.DK – neddersassisk/platdüütsk wöördebook med öäversettings nå düütsk, engelsk, nedderlandsk un ander språken
		</header>
		
		<main>
			<router-outlet></router-outlet>
		</main>

		<footer>
			&copy; 2022 <strong>ULE.DK</strong>. Alle rechten vöärbeholden.
			<br>
			<a href="">Impressum</a> |
			<a href="">Datenschutz</a> |
			<a href="">Nutzungsbedingungen</a>
		</footer>
	</div>
</block-ui>