<!-- SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<div *transloco="let t; read: 'admin'" class="margin-view">
	<h1 class="entity-headline">{{ t('uiScopes') }}</h1>

	<mat-card *ngIf="errors.length > 0" style="overflow: auto;">
		<button style="float: right;" mat-icon-button attr.aria-label="{{ t('close') }}" (click)="resetErrors()"><mat-icon>close</mat-icon></button>
		<mat-error *ngFor="let error of errors" class="error">{{error}}</mat-error>
	</mat-card>
	<br *ngIf="errors.length > 0">
	<mat-card>
		<section>
			<form [formGroup]="entityForm" #formDirective="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
				<div class="grid-container" style="grid-template-columns: repeat(4, 1fr);">
					<mat-form-field>
						<input matInput formControlName="id" [disableControl]="isUpdate" placeholder="{{ t('id') }}" maxlength="32">
						<mat-hint align="end">{{entityForm.get('id').value?.length}} / 32</mat-hint>
					</mat-form-field>

					<mat-form-field style="grid-column: 2/ 5;">
						<input matInput formControlName="description" placeholder="{{ t('description') }}" maxlength="128">
						<mat-hint align="end">{{entityForm.get('description').value?.length}} / 128</mat-hint>
					</mat-form-field>
				</div>
				<div class="grid-container btn-container">
					<div></div>
					<button mat-raised-button type="button" color="secondary" (click)="onClear()">{{ t('clear') }}</button>
					<button mat-raised-button type="submit" color="primary" [disabled]="entityForm.invalid">{{ !isUpdate ? t('create') : t('update') }}</button>
				</div>
			</form>
		</section>
	</mat-card>
	<br>
	<mat-card>
		<section>
			<div class="grid-container" style="grid-template-columns: repeat(3, 1fr);">
				<mat-form-field>
					<mat-label>{{ t('filter') }}</mat-label>
					<input matInput (keyup)="applyFilter($event)" [(ngModel)]="filterValue" placeholder="{{ t('filterExample') }}">
					<button mat-button *ngIf="filterValue" matSuffix mat-icon-button attr.aria-label="{{ t('clear') }}"
							(click)="filterValue=''; applyFilter(null);" attr.aria-label="{{ t('emptyField') }}">
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
			</div>
		</section>
		<section>
			<div class="table-container">
			
				<table mat-table [dataSource]="dataSource" class="data-table">
				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef>{{ t('id') }}</th>
					<td mat-cell *matCellDef="let row">{{row.id}}</td>
				</ng-container>
			
				<ng-container matColumnDef="description">
					<th mat-header-cell *matHeaderCellDef>{{ t('description') }}</th>
					<td mat-cell *matCellDef="let row">{{row.description}}</td>
				</ng-container>
			
				<ng-container matColumnDef="essential">
					<th mat-header-cell *matHeaderCellDef>{{ t('essential') }}</th>
					<td mat-cell *matCellDef="let row">
						<mat-checkbox [(ngModel)]="row.essential" disabled="true"></mat-checkbox>
					</td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef>{{ t('action') }}</th>
					<td mat-cell *matCellDef="let row">
						<button mat-icon-button color="primary" attr.aria-label="{{ t('editEntry') }}" (click)="onEditRow(row)" *ngIf="!row.essential">
							<mat-icon>edit</mat-icon>
						</button>
						<button mat-icon-button color="primary" attr.aria-label="{{ t('deleteEntry') }}" (click)="onDeleteRow(row)" *ngIf="!row.essential">
							<mat-icon>delete</mat-icon>
						</button>
					</td>
				</ng-container>
				
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
				</div>
		</section>
	</mat-card>
</div>