<!-- SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<header *transloco="let t">

	<span>
		<a [routerLink]="'table' | route: transloco.getActiveLang()">
			<img src="/assets/img/logo/h40.png" srcset="/assets/img/logo/h40@2x.png 2x" title="Logo ULE.DK" alt="Logo ULE.DK" />
		</a>
	</span>

	<nav>
		<a class="hide-desktop" (click)="toggleMenu()">
			<img src="/assets/img/ham.svg" alt="{{ t('nav.toggleMenu') }}" class="menu pointer" id="menu">
		</a>

		<div id="nav" class="show-desktop" [ngClass]="hideMenu ? 'hide-mobile' : ''">
			<div id="exit" class="exit-btn hide-desktop">
				<img (click)="toggleMenu()" src="/assets/img/exit.svg" alt="{{ t('nav.exitMenu') }}" class="pointer">
			</div>
			<div id="nav-inner">
				<div class="nav-item"><a [routerLink]="'table' | route: transloco.getActiveLang()">{{ t('nav.search') }}</a></div>
				<div class="nav-item"><a [routerLink]="'about' | route: transloco.getActiveLang()">{{ t('nav.about') }}</a></div>
				<!-- TODO Sou krigt Angular dat med… hm. Wat skal ik dår doon? Kan en funktioon helpen as by transloco t(…)? -->
				<div class="nav-item"><a [routerLink]="'faq' | route: transloco.getActiveLang()">{{ t('nav.faq') }}</a></div>
				<div class="nav-item"><a [routerLink]="'contact' | route: transloco.getActiveLang()">{{ t('nav.contact') }}</a></div>
				<div class="nav-item pointer">
					<a [matMenuTriggerFor]="uiLangMenu">
						<fa-icon [icon]="faLanguage"></fa-icon> {{ t('nav.language') }}
					</a>
				</div>
				<mat-menu #uiLangMenu="matMenu" xPosition="before">
					<button mat-menu-item (click)="transloco.setActiveLang('nds')">Neddersassisk</button>
					<button mat-menu-item (click)="transloco.setActiveLang('de')">Deutsch</button>
					<button mat-menu-item (click)="transloco.setActiveLang('en')">English</button>
					<!--<button mat-menu-item (click)="transloco.setActiveLang('nl')">Nederlands</button>-->
					<!--<button mat-menu-item *ngFor="let lang of transloco.getAvailableLangs()" (click)="transloco.setActiveLang(lang)">
						{{ lang }}
					</button>-->
				</mat-menu>
			</div>
		</div>
	</nav>

</header>