// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

@import "../../../theme/dict-variables";

header {
	display: flex;
	justify-content: space-between;
	padding: .8em 1.2em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav {
	position: fixed;
    width: 47%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36,41,44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}
#nav-inner {
	display: inline-grid;
	grid-template-columns: auto;
}
.nav-item {
	padding: 16px 24px;
	font-size: 17px;
	text-align: left;
}
.nav-item a {
	text-decoration: none;
	color: white;
}
.hide-mobile {
	display: none;
}
.menu {
	width: 25px;
	margin-top: 45%;
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}
.exit-btn img {
    width: 15px;
    cursor: pointer;
}

@media only screen and (min-width: $min-width-smartphone-wide) {
	nav ul {
		width: 40%;
	}
}

@media only screen and (min-width: $min-width-desktop) {
	#nav {
		display: grid;
		grid-template-columns: auto;
	
		position: inherit;
		width: auto;
		background: none;
		height: auto;
		display: flex;
		padding-top: 0;
	}

	#nav-inner {
		display: grid;
		grid-template-columns: auto auto auto auto auto;
	}

	.nav-item {
		padding: 8px 24px;
		font-size: 17px;
		text-align: center;
	}

	.nav-item a {
		text-decoration: none;
		color: black;
	}

	nav ul {
		position: inherit;
		width: auto;
		background: none;
		height: auto;
		display: flex;
		padding-top: 0;
	}

	nav ul li {
		float: left;
	}

	nav ul li a {
		color: black;
		background-color: inherit;
		text-align: right;
		padding: 1em 2em;
	}

	nav ul li a:hover {
		background-color: inherit;
	}

	.show-desktop {
		display: block;
		margin: 0 auto 13% auto;
	}

	.hide-desktop {
		display: none;
	}
}
