// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

@import "../../../theme/dict-variables";
@import "../../../theme/colors";

header {
	display: flex;
	justify-content: space-between;
	padding: .8em 1.2em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav {
	position: fixed;
    width: 47%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36,41,44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}
#nav-inner {
	display: inline-grid;
	grid-template-columns: auto;
}
.nav-item {
	padding: 16px 24px;
	font-size: 17px;
	text-align: left;
}
.nav-item a {
	text-decoration: none;
	text-transform: lowercase;
	color: white;
}

.hide-mobile {
	display: none;
}
.menu {
	width: 25px;
	margin-top: 45%;
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}
.exit-btn img {
    width: 15px;
    cursor: pointer;
}

.pointer {
	cursor: pointer;
}

@media only screen and (min-width: $min-width-smartphone-wide) {
	nav ul {
		width: 40%;
	}
}

@media only screen and (min-width: $min-width-desktop) {
	#nav {
		display: grid;
		grid-template-columns: auto;
	
		position: inherit;
		width: auto;
		background: none;
		height: auto;
		display: flex;
		padding-top: 0;
	}

	#nav-inner {
		display: grid;
		grid-template-columns: auto auto auto auto auto;
	}

	.nav-item {
		padding: 8px 24px;
		font-size: 17px;
		text-align: center;
	}

	.nav-item a {
		text-decoration: none;
		text-transform: lowercase;
		color: black;
		background-image: linear-gradient(
			to right,
			$owb-color-primary,
			$owb-color-primary 50%,
			#000 50%
		);
		background-size: 200% 100%;
		background-position: -100%;
		display: inline-block;
		padding: 5px 0;
		position: relative;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: all 0.25s ease-in-out;
	}
	.nav-item a:before {
		content: '';
		position: absolute;
		background: $owb-color-primary;
		display: block;
		width: 0;
		height: 3px;
		bottom: -3px;
		left: 0;
		transition: all 0.25s ease-in-out;
	}
	.nav-item a:hover {
		color: $owb-color-primary; // necessary for the language icon
		background-position: 0;
	}
	.nav-item a:hover::before {
		width:100%;
	}

	.show-desktop {
		display: block;
		margin: 0 auto 60px auto;
	}

	.hide-desktop {
		display: none;
	}
}
