// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

// Custom Theming for Angular Material
/*
// Düssen deyl mut uut heyl olde tyden wean.

// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$codict-primary: mat.define-palette(mat.$indigo-palette);
$codict-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$codict-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$codict-theme: mat.define-light-theme($codict-primary, $codict-accent, $codict-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($codict-theme);

// olden deyl ende
*/

//@import '@angular/material/prebuilt-themes/deeppurple-amber.css'; 

/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@import './theme/core.scss';
@import './theme/colors.scss';

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
	text-decoration: none;
}
a:link, a:visited {
	color: $owb-color-primary;
}
a:hover {
	color: #c2d7f2;
}
a:active {
	color: #1f5bc1;
}

/** Grid classes */
$sidenav-content-margin: 1rem;
$editor-subheading-margin: 18px;

.grid-container {
	display: grid;
	/*grid-template-columns: auto auto auto;
	background-color: #2196F3;
	padding: 10px;*/
	gap: 7px 15px;
}

.grid-centered {
	justify-self: center;
	align-self: center;
}

.content-bottomed {
	align-self: end;
}

.center-vertical {
	align-self: center;
}

.full-width {
	width: 100%
}

.col1 { grid-column-start: 1; }
.col2 { grid-column-start: 2; }
.col3 { grid-column-start: 3; }
.col4 { grid-column-start: 4; }

.colspan2 { grid-column-end: span 2; }
.colspan3 { grid-column-end: span 3; }
.colspan4 { grid-column-end: span 4; }

.row1 { grid-row-start: 1; }
.row2 { grid-row-start: 2; }
.row3 { grid-row-start: 3; }
.row4 { grid-row-start: 4; }
.row5 { grid-row-start: 5; }
.row6 { grid-row-start: 6; }
.row7 { grid-row-start: 7; }
.row8 { grid-row-start: 8; }
.row9 { grid-row-start: 9; }
.row10 { grid-row-start: 10; }

.rowspan2 { grid-row-end: span 2; }
.rowspan3 { grid-row-end: span 3; }
.rowspan4 { grid-row-end: span 4; }
.rowspan8 { grid-row-end: span 8; }
// Grid end


// Material overrides

// Used to shrink the height of the area below the input within the mat-form-field component,
// as used for the front page's search field.
mat-form-field {
	&[search-field] {
		.mat-mdc-form-field-bottom-align {
			height: 0.2rem;
		}
	}
}

// Used for the search field autocomplete drop-down.
.mdc-list-item {
	&[stretch-item] {
		.mdc-list-item {
			&__primary-text {
				width: 100%;
			}
		}
	}
}

// Used for the search direction drop-down.
.mat-mdc-menu-item {
	&[stretch-item] {
		.mat-mdc-menu-item-text {
			display: flex;
			width: 100%;
			min-width: 120px;
		}
	}
}
