// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

footer {
	//position: absolute;
	//bottom: 0rem; //1.5rem;
	//width: calc(100% - 100px);
	//width: 100%;
	color: white;
	padding-top: 40px;
	padding-bottom: 25px;
	font-size: 0.9rem;
	text-align: center;
	background-color: darkgray;
}
