<!-- SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<div *transloco="let t">
	<button mat-button matTooltip="{{ t('search.direction:tt') }}" matTooltipPosition="above" matTooltipShowDelay="50"
		[matMenuTriggerFor]="directionMenu">{{ t('search.direction:' + search.direction) }}</button>
	<mat-menu #directionMenu="matMenu">
		<button mat-menu-item (click)="choose('Both')">{{ t('search.direction:Both') }}
			<span class="right">&nbsp;&lt;–&gt;</span>
		</button>
		<button mat-menu-item (click)="choose('Right')">{{ t('search.direction:Right') }}
			<span class="right">&nbsp;–&gt;</span>
		</button>
		<button mat-menu-item (click)="choose('Left')">{{ t('search.direction:Left') }}
			<span class="right">&nbsp;&lt;–</span>
		</button>
	</mat-menu>
</div>