<!-- SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<div *transloco="let t">
	<button
		mat-button
		matTooltip="{{ t('search.direction:tt') }}"
		matTooltipPosition="above"
		matTooltipShowDelay="50"
		[matMenuTriggerFor]="directionMenu"
	>{{ t('search.direction:' + search.direction) }}</button>

	<mat-menu #directionMenu="matMenu">

		<button mat-menu-item stretch-item (click)="choose('Both')">
			<div>{{ t('search.direction:Both') }}</div>
			<div class="spacer"></div>
			<div class="right">&nbsp;&lt;–&gt;</div>
		</button>

		<button mat-menu-item stretch-item (click)="choose('Right')">
			<div>{{ t('search.direction:Right') }}</div>
			<div class="spacer"></div>
			<div class="right">&nbsp;–&gt;</div>
		</button>

		<button mat-menu-item stretch-item (click)="choose('Left')">
			<div>{{ t('search.direction:Left') }}</div>
			<div class="spacer"></div>
			<div class="right">&nbsp;&lt;–</div>
		</button>

	</mat-menu>
</div>
