// SPDX-FileCopyrightText: © 2022 Michael Köther <mkoether38@gmail.com>
// SPDX-License-Identifier: AGPL-3.0-only

div.scrollable {
	min-width: 250px;
	overflow: auto;
	height: calc(100vh - (4 * 64px));
}

.active {
	color: #54a035;
}

.inactive {
	color: #d5192e;
}

.pageInfo {
	font-size: 0.9rem;
}
